body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  font-size: 16px;
  background-color: #ffffff;
}
h1 {
  color: #ffffff;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  background-color: #2e2f42;
  text-align: center;
  letter-spacing: 0.02em;
}
.main-cover {
  color: #ffffff;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  background-color: #2e2f42;
  text-align: center;
  letter-spacing: 0.02em;
}
h2 {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.about-team {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.portfolio {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
h3 {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.about {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.list-team {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.portfolio-cover {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.about-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.team-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.portfolio-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
ul {
  list-style: none;
  background-color: #ffffff;
}
a {
  text-decoration: none;
  color: #2e2f42;
}
a:hover {
  color: #404bbf;
}
a:focus {
  color: #404bbf;
}
a:active {
  color: #404bbf;
  text-decoration: underline;
}
button {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  background-color: #4d5ae5;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}
button:hover {
  background-color: #404bbf;
}
button:focus {
  background-color: #404bbf;
}
.team {
  background-color: #f4f4fd;
}
.order {
  background-color: #ffffff;
}
.business {
  background-color: #2e2f42;
}
.footer {
  background-color: #2e2f42;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}
.logo-studio {
  color: #f4f4fd;
}
.footer-text {
  color: #f4f4fd;
}
.logo-studio-head {
  color: #2e2f42;
}
.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
}
.contacts-adress {
  font-style: normal;
}
.adress-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* Home work 3 */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
}
img {
  display: block;
}
.container {
  max-width: 1440px;
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  margin-left: ;
  margin-right: ;
  display: flex;
}
/* header */
.header-title {
  border-bottom: 1px solid #e7e9fc;
  padding-top: 24px;
  padding-bottom: 24px;
}
.header-menu {
  display: flex;
  align-items: center;
}
.menu-order {
  display: flex;
  gap: 40px;
}
.adress-order {
  display: flex;
  gap: 40px;
}
/* busines */
.business {
  padding-top: 188px;
  padding-bottom: 188px;
}
.business-button {
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
}
