body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  font-size: 16px;
  background-color: #ffffff;
}
.main-cover {
  color: #ffffff;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  background-color: #2e2f42;
  text-align: center;
  letter-spacing: 0.02em;
  max-width: 496px;
}
.about-team {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.portfolio {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.about {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.list-team {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}
.portfolio-cover {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.about-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.team-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}
.portfolio-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
ul {
  list-style: none;
  background-color: #ffffff;
}
a {
  text-decoration: none;
  color: #2e2f42;
}
a:hover {
  color: #404bbf;
}
a:focus {
  color: #404bbf;
}
a:active {
  color: #404bbf;
  text-decoration: underline;
}
button {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  background-color: #4d5ae5;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}
button:hover {
  background-color: #404bbf;
}
button:focus {
  background-color: #404bbf;
}
.team {
  background-color: #f4f4fd;
}
.order {
  background-color: #ffffff;
}
.business {
  background-color: #2e2f42;
}
.footer {
  background-color: #2e2f42;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}
.logo-studio {
  color: #f4f4fd;
}
.footer-text {
  color: #f4f4fd;
  max-width: 264px;
}
.logo-studio-head {
  color: #2e2f42;
}
.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.contacts-adress {
  font-style: normal;
}
.adress-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* lesson 3 */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
img {
  display: block;
}

.container {
  max-width: 1440px;
  margin-left: 156px;
  margin-right: 156px;
}
/* header */
.navigation {
  border-bottom: 1px solid #e7e9fc;
}
.menu {
  display: flex;
  align-items: center;
}
.container-menu {
  display: flex;
  width: 1158px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.menu-list {
  display: flex;
  gap: 40px;
  padding-top: 24px;
  padding-bottom: 24px;
}
.adress-list {
  display: flex;
  gap: 40px;
  padding-top: 24px;
  padding-bottom: 24px;
}
.nav-link {
  padding: 24px 0;
}
/* button */
.business {
  padding-top: 188px;
  padding-bottom: 188px;
}
.business-button {
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
}
/* about company */
.company {
  padding-top: 120px;
  padding-bottom: 120px;
}
.order-company {
  display: flex;
  gap: 24px;
}
.list-company {
  width: calc((100% - 72px) / 4);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* team */
.team {
  padding-top: 120px;
  padding-bottom: 120px;
}
.list-order {
  display: flex;
  gap: 24px;
}
.order {
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}
.person {
  padding-top: 32px;
  padding-bottom: 32px;
}
/* Portfolio */
.portfolio-header {
  padding-top: 120px;
  padding-bottom: 120px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.portfolio-list-order {
  width: calc((100% - 48px) / 3);
}
.portfolio-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
/* footer */
.footer {
  padding-top: 100px;
  padding-bottom: 100px;
}
.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
  display: inline-block;
  margin-bottom: 16px;
}
